<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Firma bardzo kontaktowa</h1>
    <h2>Opis firmy dość szczegółowy</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor erat nec justo suscipit consequat.
        Vestibulum maximus justo pharetra, vehicula dolor dignissim, euismod risus.
        Sed at enim ultrices, tincidunt ante sit amet, ultrices dolor. Mauris urna felis,
        imperdiet quis porttitor at, egestas vitae ipsum. Donec fermentum et nisl in tempor.
        Aliquam ex libero, congue non nulla a, sagittis sollicitudin purus. Aliquam auctor cursus nunc vitae dapibus.
        In et arcu euismod, auctor diam in, varius sem. Mauris semper sagittis nisl, ut scelerisque dolor.
    </p>
    <p>
        Quisque eu dictum dolor. Vestibulum at porttitor augue. Fusce quis semper urna, et molestie turpis.
        Quisque pellentesque leo quis aliquet tincidunt. Quisque mattis turpis congue consectetur viverra.
        Nunc convallis varius sollicitudin. Aenean imperdiet at tortor eu dapibus. Sed commodo velit quis pulvinar feugiat.
        Aliquam facilisis nibh quis tellus vestibulum, quis pulvinar nibh efficitur.
        Maecenas condimentum, velit non elementum pulvinar, sapien leo malesuada turpis, eu semper lectus sem vitae velit.
        In porta, metus vitae tincidunt euismod, arcu quam tempus magna, at facilisis ante mi quis nisl.
        Pellentesque tristique, elit non dignissim facilisis, nunc massa luctus nibh, nec molestie purus enim ac metus.
    </p>

    <p>
        Proin porttitor euismod mi, vitae venenatis elit hendrerit ac. Curabitur aliquam sodales mattis.
        Aenean molestie bibendum elit, et bibendum purus. Mauris ultricies tortor ut tincidunt egestas.
        Integer auctor, massa eu placerat semper, arcu nunc hendrerit augue, eu pharetra dolor massa eget libero.
        Proin in malesuada ipsum. Mauris in interdum ipsum. Pellentesque posuere accumsan augue, id gravida felis vehicula congue.
        Nunc eget pulvinar velit, ultrices elementum dui. Phasellus vehicula ullamcorper neque at scelerisque.
        Praesent vel rhoncus quam. Cras dignissim molestie nibh et lacinia.
    </p>
</div>
</body>
</html>